{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted.strftime("%d/%m/%Y, %H:%M") }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('report', report_id=post.id) }}">{{ post.title }}</a></h2>
            <h6 class="text-muted">{{ post.location }}</h6>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}