{% extends "layout.html" %}
{% block content %}
    <h1 class="mt-4">Recent Crimes</h1>
    {% for report in reports %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ report.date_reported.strftime("%d/%m/%Y, %H:%M") }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('report', report_id=report.id) }}">{{ report.category }}</a></h2>
            <h6 class="text-muted">{{ report.location }}</h6>
            <p class="article-content">{{ report.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}