{% extends "layout.html" %}
{% block content %}
    <h1 class="mt-4">Resources</h1>
    <div>
        <div class="content-section">
            <h6 class='text-muted'>Useful links</h6>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="https://www.tps.ca/contact/leave-anonymous-tip/" target="_blank">TPS Anonymous Tip</a>
                </li>
                <li class="list-group-item list-group-item-light" target="_blank">
                    <a href="https://www.222tips.com/" target="_blank">Crime Stoppers Toronto</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="https://www.toronto.ca/community-people/health-wellness-care/health-programs-advice/overdose-prevention-and-response/drug-use-services-and-supports/" target="_blank">
                        Overdose Information Page
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="https://www.camh.ca/en/health-info/crisis-resources" target="_blank">
                        Centre for Addiction and Mental Health
                    </a>
                </li>
            </ul>
            </p>
        </div>
    </div>
{% endblock content %}